apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: worker
  name: worker-deplt
  namespace: xyz
spec:
  replicas: 1
  selector:
    matchLabels:
      app: worker
  template:
    metadata:
      labels:
        app: worker
    spec:
      containers:
      - image: eloip13009/voting-fila3:worker
      # - image: europe-west9-docker.pkg.dev/tuto-terraform-406010/voting-app-repo/worker
      # - image: gitlab-registry.imt-atlantique.fr/login-nuage/project-code/worker
      # - image: worker
        # imagePullPolicy: Never
        name: worker-container
